/* Mobile First Design */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  padding: 1em;
  border: 1px solid darkred;
  text-align: center;
  background-color: slategray;
}

body{
  font-family: fantasy, sans-serif;
  margin: .5rem;
  padding: .5rem;
  border: 1px solid darkred;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  background-color: black;
  text-align: center;
}

header, nav, main, footer{
  grid-column: 1/4;
} 

main{
  margin: .5em;
  padding: .5em;
  border: 2px solid darkred;
  background-color: slategray;
}

main section{
  padding: .5em;
}

nav{
  margin: .5em;
  padding: .5em;
}

nav ul{
  display: flex;
  flex-direction:column;
  gap: 1.5rem;
  align-items: center;
  list-style: none;
}

nav a {
  text-decoration: none;
  background-color: darkred;
  color: black;
  padding: .5rem 1rem;
  font-size: .7em;
  text-transform: uppercase;
}

nav a:hover{
  background-color: black;
  color: darkred;
  border: 1px solid darkred;
}

.card-row{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    background-color: darkred;
    text-align: center;
}

.card-row img{
    width: 70%;
    height: 70%;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
}

.card-row > section{
    flex: 1 1 260px;
    padding: 1rem;
    min-width: 0;
    background-color: snow;
    display: flex;
    flex-direction: column;
}

.card-row > section:hover{
    background-color: black;
    border: 1px solid darkred;
    color: darkred;
}

.card-row p a{
  color: darkred;
}

h1{
  font-weight: bold;
  font-size: 1.5rem;
  color:darkred;
}

h2{
  margin: .5em;
  padding: .5em;
  font-size: 1.25rem;
  text-align: center;
  color: darkred;
}

h3{
  margin: .5rem;
  padding: .5rem;
  font-size: 1rem;
}

p{
  margin: .5em;
  padding: .5em;
  font-size: .7rem;
  line-height: 1.5;
  word-spacing: 1px;
}

footer p{
    color: darkred;
}

#performance h3{
  text-decoration: underline;
}

#performance ul{
  list-style-position: inside;
  text-align: center;
  font-size: .7rem;
  font-weight: bold;
  list-style: none;
}
@media (min-width: 650px){
  body{
    grid-template-columns: 1fr;
  }
  
  header, nav, main, footer{
    grid-column: 1 / -1;
  }

  nav ul{
    flex-direction: row;
    justify-content: center;
  }

  nav a {
    font-size: 1em;
  }

  #performance ul{
    text-align: center;
    font-size: 1rem;
  }

  .card-row{
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
  }

  .card-row img{
    width: 70%;
    height: 70%;
  }

  h1{
    font-size: 2rem;
  }

  h2{
    font-size: 1.5rem;
  }

  h3{
    font-size: 1.25rem;
  }

  p{
    font-size: 1rem;
  }
}

@media screen and (min-width: 900px){
  body{
    grid-template-columns: 1fr 1fr;
  }
  
  nav a {
    font-size: 1.25em;
  }

}